<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body id="root">
    <main>

        <section class="text-center container my-4">
            <h1 class="fw-light">Page Loaded At: </h1>

            <form class="d-flex">
                <input type="search" class="mx-1 form-control" id="inputSearch" placeholder="Search...">
                <button type="button" class="mx-1 btn btn-outline-primary">Refresh</button>
                <button type="button" class="mx-1 btn btn-secondary">Dark</button>
            </form>
        </section>

        <section class="container">
            <h2 class="fw-light text-center my-4">Results: </h2>
            <div class="row row-cols-3">
                <article class="col">
                    <div class="card shadow-sm">
                        <img class="img-thumbnail" src="https://images.ygoprodeck.com/images/cards/6859683.jpg"
                            alt="6859683">
                    </div>
                </article>
                <article class="col">
                    <div class="card shadow-sm">
                        <img class="img-thumbnail" src="https://images.ygoprodeck.com/images/cards/6859683.jpg"
                            alt="6859683">
                    </div>
                </article>
            </div>
        </section>

    </main>
</body>

</html>